/* Tiptap Edit Workflow Demo Styles */

.tiptap {
  outline: none;
}

.tiptap h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.tiptap p {
  margin-bottom: 0.4rem;
  line-height: 1.6;
}

/* Style the AI caret */
.tiptap .tiptap-ai-caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.tiptap .tiptap-ai-caret__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}
